<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Timezones dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.15/toaster.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/main.css" th:href="@{css/main.css}" />
</head>

<body ng-app="app">

    <script type="text/ng-template" id="timezonePopup.html">
        <div class="modal-header">
            <h3 class="modal-title">{{tzPopupCtrl.title}}</h3>
        </div>
        <div class="modal-body">

            <alert ng-show="tzPopupCtrl.alert" type="{{tzPopupCtrl.alert.type}}" close="tzPopupCtrl.closeAlert()">{{tzPopupCtrl.alert.msg}}</alert>

            <form class="form-horizontal" role="form" ng-submit="tzPopupCtrl.save()">
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="tzPopupCtrl.timezone.name" class="form-control" id="name"
                               placeholder="Timezone name here"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-3 control-label">City</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="tzPopupCtrl.timezone.city" class="form-control" id="city"
                               placeholder="City here"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zoneOffset" class="col-sm-3 control-label">GMT offset</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="tzPopupCtrl.timezone.zoneOffset" class="form-control" id="zoneOffset"
                               placeholder="GMT offset here"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="tzPopupCtrl.save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="tzPopupCtrl.cancel()">Cancel</button>
        </div>
    </script>

    <div class="container">
        <h1>Greeting</h1>
        <div ng-controller="TimezonesController as tz" data-ng-cloak="" class="ng-cloak">
            <div ng-repeat="timezone in tz.timezones">
                <div>{{timezone.name}}</div>
                <div>{{timezone.city}}</div>
                <div>{{timezone.zoneOffset}}</div>
                <a class="btn btn-primary"  ng-click="tz.openTimezonePopup(timezone)">Edit</a>
                <a class="btn btn-danger"  ng-click="tz.deleteTimezone($index)">Delete</a>
            </div>
            <span ng-hide="tz.timezones.length > 0">No timezones defined. Please add some.</span>
                <a class="btn btn-primary" ng-click="tz.openTimezonePopup()">Add</a>
        </div>
    </div>
    <toaster-container></toaster-container>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script th:src="@{js/ui-bootstrap-tpls-0.13.4.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js" />
    <script src="https://code.angularjs.org/1.2.0/angular-animate.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.15/toaster.min.js"></script>

    <script th:src="@{js/main.controller.js}"></script>
    <script th:src="@{js/timezones.controller.js}"></script>
    <script th:src="@{js/timezones.factory.js}"></script>
</body>
</html>