<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Timezones application - Home page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="all"
              href="../static/css/main.css" th:href="@{css/main.css}" />
    </head>
    <body>

    <div ng-controller="navigation as nav" class="container">
        <ul class="nav nav-pills" role="tablist">
            <li ng-show="nav.authenticated" class="active"><a href="/home">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li ng-show="nav.authenticated"><a href="/logout">Logout</a></li>
        </ul>
    </div>
        <h1>Welcome to TimeZones dashboard</h1>

        <p>Please, <a th:href="@{/register}">register</a> first to start using our application.</p>

        <p>Registered users, please <a th:href="@{/login}">login here</a>.</p>
    </body>
</html>